[2022-02-21 11:16] Milind220 opened #1 "Get air quality methods should have option to return different data formats"
There should be an option to return data in CSV or Excel format, in case that is desired. Not everyone will want to use Pandas data frames for data analysis.

[2022-02-21 11:18] Milind220 opened #2 "Spruce up and beautify the README."
Emoji's should be added liberally. Always makes the README a little easier to read.

[2022-02-21 11:22] Milind220 opened #3 "Add feature to get historical data for a particular location"
Currently only live data can be fetched given a location. Most users would find more utility in large datasets of historical data.

I don't think that the WAQI api is capable of providing historical data, but the WAQI website does have a resource for downloading CSV's and Excel sheets of historical data - Perhaps it could be possible to download and read the CSV from there, programmatically.

[2022-02-21 14:38] Milind220 opened #4 "Prevent users from modifying the urls stored in the URLs class"
As of now, users can technically import and instantiate the URLs class, which might cause all sorts of havoc if the URLs stored were changed.

This might be fixed by converting it to a static class/annotating it as abstract/ or something along those lines.

[2022-02-21 14:42] Milind220 opened #5 "Add the units for the retrieved data in the documentation. As of now, no information about the units of the data is provided."
The units will have to be looked up in the WAQI API documentation and added from there. Any units that are missing from there could probably be assumed to be standard units for the parameter being measured. They should be put in the README (later we can add it to the official documentation when we make it)

[2022-02-21 14:47] Milind220 opened #6 "Add restriction on reads/min and reads/ second to prevent token being blocked from API"
The WAQI API allows a certain number of requests every minute and every second. This can be looked up on their API website. If this limit is exceeded then the users API token is blocked.

An intrinsic check should be added to the code to prevent exceeding this limit, perhaps by taking short breaks between successive requests if the limit is about to be exceeded.

[2022-02-21 14:49] Milind220 opened #7 "No mention of the WAQI API docs in the README at all"
This package is built as a wrapper around the WAQI API, however no mention is made to their website and documentation. This should be provided for the sake of completeness and for contributors to refer to.

Simple to add it.

[2022-02-21 14:53] Milind220 opened #8 "Addition of tests to check build status"
The package currently has no test coverage at all. There is thus no method of checking build status with CI/CD.
The core functionality at least should have test coverage.

[2022-02-24 04:31] Milind220 opened #10 "Add method to get an individual parameter as a number and not a dataframe"
This might help if someone is planning to actually use this package for something other than data analysis. The current methods all cater to data analysis more by providing a Pandas data frame as the return value. This might be better if someone is using this to update their backend, or require a single parameter only.

To add:
(something along these lines)
Methods that return a single numerical v

[2022-02-24 04:35] Milind220 opened #11 "Class docstrings required for the Ozone and URLs class"
Currently the Ozone and URLs class do not have any class docstrings. These should be added to make the purpose and methods of each class clearer to developers who use the package. The URLs class, for example, should state that it cannot/should not be instantiated.

[2022-02-24 04:49] Milind220 commented on #3
I think there may be a way to do this by using Requests to fill up the form on this [page](https://aqicn.org/data-platform/register/), and then somehow programmatically clicking the download button to get the CSV locally onto the user's computer, into the same directory as their project.
From there it could be read and imported into a dataframe to get all the data they need, or left as a CSV for t

[2022-02-24 04:54] Milind220 commented on #8
I'll write the tests for the current core functionality.

[2022-02-24 05:01] Milind220 opened #12 "Code Of Conduct not present in documentation."
Considering that this is an open-source package, it's a good idea to have a good of conduct present in the root directory to help people see what behaviour is encouraged and what's not encouraged.

A short, clear CODE_OF_CONDUCT.md should be all that's required for a project as simple as this one. You could take a look at other projects and see what they include.

In general: **I want this package

[2022-02-24 05:21] Milind220 opened #14 "Add gif of Ozone being used to README. Would help first time users understand how to use the code."
Make a gif of a screen recording of yourself using the package, and add it to the README. Make sure to try both the currently available methods in Ozone to showcase it's capabilities properly.

[2022-02-24 15:25] tariksouabny commented on #14
Are the two methods `get_city_air()` and `get_multiple_city_air`?

[2022-02-24 17:32] Milind220 commented on #14
Yeah, that' correct! The docstrings for the methods have the info on what arguments to use with them too. The README of the repo also has the info

[2022-02-24 20:03] corey-new commented on #10
Hello Milind! I'm a university student looking to contribute to open source projects. I believe that I can tackle this issue involving the implementation of individual methods to get individual data.

[2022-02-24 21:00] ubongab opened #17 "Add a method to show the meaning of the Air Quality Data"
For example, an aqi of **0 - 50** is  **Good**  and that means that _air _**quality is considered satisfactory, and air pollution poses little or no risk.**_

[2022-02-24 21:15] tariksouabny commented on #14
Also, where do you want the gifs? Under what section? Is it at the top?

[2022-02-25 03:17] Milind220 commented on #14
@tariksouabny I think the 'getting started' section of the README is probably the best place. Just under the code snippets that are there right now.

[2022-02-25 03:27] Milind220 commented on #17
@ubongab Yes, sounds like a great idea.

* Can you try to add this as another column in the dataframe that is returned? Like a column which contains the `AQI_meaning` maybe.
*  Also, refer to the table of meanings for the AQI given in this API documentation page: https://aqicn.org/api/ . I think the 'meaning' column is enough, but feel free to add others too.

[2022-02-25 03:27] Milind220 commented on #17
That's the page for the API that is used under the hood to fetch the data.

[2022-02-25 03:29] tariksouabny commented on #14
Finished adding the Gifs in. Now they are ready for review!

Thank you!

[2022-02-25 03:36] Milind220 opened #19 "Need to add a list of links of the World Air Quality Index's API website/documentation to the CONTRIBUTING file"
Ozone uses the WAQI's API under the hood to fetch its data. Therefore, it's important that contributors can easily find all the information they need about the API in order to make good quality contributions.

Add a section in the CONTRIBUTING.md file with a list of links to any page that has information that might be important for contributors to know. Also in a single short phrase, describe the

[2022-02-25 03:38] Milind220 commented on #10
@corey-new All yours! Don't hesitate to reach out if you need help :)

[2022-02-25 03:40] Milind220 commented on #14
@tariksouabny I'll review that right away! Thanks a lot for your contribution 💯

[2022-02-25 06:08] #12 closed

[2022-02-25 08:48] ubongab commented on #17
Ok, cool. I'll work on this.
One more question.
Would you prefer to see `AQI_meaning` [Good, moderate....] only or would it be better to include  the `health implications` column as well, to make it more readable and understandable for any simple person requesting the data.
OR better still, shall I condense the two information into one column - `AQI_meaning`? That seems like a robust solution, I p

[2022-02-25 09:09] Milind220 commented on #17
I think include both - more information is a good thing here.
It's probably best to leave the two as separate columns. Utility wise, it might give people more flexibility with what they want to use and what they don't care about.

[2022-02-25 09:50] ubongab commented on #17
Alright, that makes sense!

[2022-02-25 10:36] ubongab commented on #17
All done now. PR created.
Could you please check and if there is anything else that needs changing, please let me know. It's been a pleasure working on this.

[2022-02-25 11:31] ubongab commented on #1
I'll be happy to work on this feature.

[2022-02-25 11:47] Milind220 commented on #1
@ubongab That'd be great! I'll take a look at your other PR in a while.

Thanks a lot

[2022-02-25 11:56] ubongab opened #21 "get_multilple_cities_air() method returns an error"
Error message:

TypeError: cannot concatenate object of type '<class 'list'>'; only Series and DataFrame objs are valid

[2022-02-25 12:21] ubongab commented on #1
I have added `.json `file and `.csv` file so far but the `.xlsx` requires an excel writer: `openpyxl`.
Is it something that you can add to the global package dependencies to enable this work automatically?

[2022-02-25 14:22] tariksouabny commented on #21
Are you sure? When I run the following code:
[code]
I get a normal Pandas DataFrame. Can you show some of the code that you used?

[2022-02-25 14:31] tariksouabny opened #22 "README.md: Markdown Code Blocks under "Getting Started" heading are labeled as being shell language - They should be labeled as python"
Under the "Getting Started" section of the README.md, there are two code blocks. In the markdown, these code blocks are labelled as being in the Shell language. However, these code blocks are supposed to be Python. Please label them to be Python

**Current State:**
[code]
[code]

**Should be:**
[code]
[code]

[2022-02-25 14:33] Milind220 commented on #21
I also get  a normal pandas dataframe. I checked both the main and dev branches, and they're both working for me. I used the same code that @tariksouabny  used.

I suspect that you tried to pass the list of cities to the 'df'  argument, perhaps like this:
[code]

This also returns the same error that you mentioned.

The df argument is supposed to be used to pass in a Pandas dataframe if you alread

[2022-02-25 14:36] Milind220 commented on #22
Uh Oh, I didn't see this issue, and fixed it in a direct commit right before this.

Thanks for spotting it! Appreciate it :)

[2022-02-25 14:36] #22 closed

[2022-02-25 14:43] Milind220 commented on #1
@ubongab Yes, that's absolutely possible. I've used openpyxl before, and it's fairly reliable as third party packages go.

You can go ahead and add the .xlsx file writing feature, and I'll add openpyxl to the dependencies once that's done.

[2022-02-25 14:46] Milind220 commented on #17
@ubongab Checked it out and merged it. Looks like just what we needed! Thanks for all the effort, it's much appreciated!

[2022-02-25 14:46] #17 closed

[2022-02-25 15:06] ubongab commented on #21
Here's what I used.
[code]
It may well be my testing environment. I will open another virtual environment and try to run it again. I'm not sure why I'm getting the error.
`TypeError: cannot concatenate object of type '<class 'list'>'; only Series and DataFrame objs are valid`

[2022-02-25 19:20] tariksouabny commented on #22
No problem!

[2022-02-26 05:05] Sam-damn commented on #6
Hello 😁, I would love to tackle this issue could I be assigned to it ?

[2022-02-26 05:08] Milind220 commented on #6
@Sam-damn All yours! Have fun working on it :)

Don't hesitate to ask for help if you need it :)

[2022-02-26 05:13] Milind220 commented on #21
@ubongab Hmm that's interesting.

Let me know when you try it on your new environment and if it works. Also you could try the same code, but explicitly pass in the list of cities as keyword argument.

what version of Python are you using?

[2022-02-26 19:36] #7 closed

[2022-02-26 19:37] Milind220 commented on #10
@corey-new Any updates on this? Thanks!

[2022-02-27 15:07] #6 closed

[2022-02-27 16:14] Milind220 opened #29 "Add a method to get air quality data for a particular longitude and latitude"
Currently users can only get AQI data for a city, or many cities.

I read into this a little, and the WAQI API offers a URL endpoint to get air quality data for a certain latitude and longitude.  It should be fairly simple to use it and create a method to allow users to get data using geographical coordinates.

Also add a method to get air quality data for an entire list of coordinate pairs (simil

[2022-02-27 16:45] Milind220 commented on #5
This means that the standard unit for each parameter would probably have to be looked up online and used instead.

[2022-02-27 19:33] Milind220 opened #30 "Brief explanation of each parameter that the API can fetch should be added to README"
Ozone can currently fetch the following parameters (taken from the Ozone class):

`[
        "aqi",
        "pm25",
        "pm10",
        "o3",
        "co",
        "no2",
        "so2",
        "dew",
        "h",
        "p",
        "t",
        "w",
        "wg",
    ]`

Some of these parameters, such as 'aqi' are pretty obvious in meaning, but others, such as 'h' , 'w', 'wg', 't' are not e

[2022-02-27 23:57] Sam-damn commented on #3
Hello this one seems interesting can I work on it?

[2022-02-28 03:55] Milind220 commented on #3
@Sam-damn yeah sure! That'd be awesome💯

This is a pretty major feature to add, so I think a new feature branch is probably a good idea for it.

[2022-02-28 04:24] Milind220 commented on #3
@Sam-damn I've created a new branch - `hist-data` for this feature. Make your commits there, and when the feature's ready we'll merge it into `dev`.
If you're curious about the branching model we follow for Ozone, you can check out the [discussion](https://github.com/Milind220/Ozone/discussions/24) about it.

Good luck!

[2022-02-28 07:46] Sam-damn commented on #3
alrighty I’ll checkout the branching model so I can familiarize myself with the process and begin! Thanks for the info

[2022-02-28 13:09] Milind220 opened #31 "release-1.1.0 bug: get air quality data methods currently can return two types of data: Dataframe or None."
As of now when a user gets air quality data, and decides that they want the data in a Pandas dataframe, then the `get_city_air` and `get_multiple_city_air` methods return a dataframe. (type is Pandas Dataframe)
BUT
when a user says they want the data in CSV, excel or JSON form, it returns a None type, and saves the data as a file to the working directory.

At first glance this seems like what we w

[2022-02-28 13:10] Milind220 commented on #31
For now I'll fix this by making the methods always return a dataframe. If the user selects data format as 'df' then the dataframe will actually have information in it. if they select JSON, xlsx, or csv then the dataframe will be empty. I'll update the docs to reflect this.

[2022-02-28 13:30] Milind220 commented on #31
Okay I just fixed this!

[2022-02-28 13:30] #31 closed

[2022-02-28 22:12] Sam-damn commented on #3
so i have been researching how this can be accomplished using the requests library , in order to submit a form and get the history data file u would have to emulate what requests your own browser is sending upon pressing the submit button , so i inspected the network tab in the developer tools in my browser and saw the POST request my browser sends upon clicking submit button and i tried to emulat

[2022-03-01 13:31] Milind220 opened #36 "Add method to show air quality forecast information. The API actually returns this info, but we currently ignore it."
The WAQI API [documentation](https://aqicn.org/json-api/doc/) mentions how the JSON object that is retuned contains 'forecast' data as well. This is basically the 7 day forecast for 4 parameters: pm25, pm10, o3, and uvi.

Create a method that takes in a city and fetches the forecast data for it. Allow users to enter a list of the specific parameters they want, and get all by default.

You can refe

[2022-03-01 13:46] Milind220 commented on #3
@Sam-damn I've used selenium before, and I'm not opposed to it being used for this feature.

What do you mean by 'other dependencies that cannot be listed as python packages' ?

Meanwhile, I'll do some research into whether Requests can actually be used for this at all.

[2022-03-01 15:36] Sam-damn commented on #3
@Milind220 one of selenium dependencies is a web driver interface which is usually a binary which needs to be installed manually and so it cannot be listed as a pip package, nevertheless I think there’s a python package that helps with this. If u find anything about wether requests can be used for this do let me know 😁.

[2022-03-01 17:58] Milind220 commented on #29
Feel free to reach out for more help on how to go about this, or if you don't understand how to get started

[2022-03-01 18:22] #21 closed

[2022-03-01 18:29] Milind220 opened #37 "Addition of FILE_STRUCTURE.md file to give new contributors clarity on layout of files."
Explain the basic file structure and layout of the package in the file.

* Which directory has the main source code? -> src/ozone/
* Which files have the main classes? ozone.py and urls.py
* What does each of the two files contain? Ozone class, and URLs class
* What are the different files to be edited for dependency management? -> setup.py, requirements.txt, and setup.cfg
* What does src/media co

[2022-03-01 18:31] Milind220 opened #38 "We require a proper API documentation website, for the primary docs of Ozone. The README file cannot explain the methods in enough detail."
Any suggestions for what site/service to use?

[2022-03-02 00:06] corey-new commented on #10
@Milind220 I've been working on the function implementation. The only issue I'm having is accessing data using the API for the specific AQI, CO, and NO2 statistics

[2022-03-02 03:34] Milind220 commented on #10
Hi @corey-new , you don't actually need to access the individual parameter data with different API calls.
The API provides only one endpoint URL to get air quality data for a city, and then returns all the info as JSON. Your method should parse the JSON and return a single parameter.

Also, after some more thought, it's probably best to have just a one method that returns a single parameter based

[2022-03-02 13:33] Milind220 commented on #3
@Sam-damn After doing some research I'm confident that requests could be used for this. Here are some links to YouTube videos that do similar things (you can refer to them if you need to)

To fill up the form to access the downloads, this video of logging into websites using Requests would help. It's a similar task that we need: https://www.youtube.com/watch?v=bM50i7sKwwM

To download the files: h

[2022-03-02 15:18] corey-new commented on #10
@Milind220 Oh okay! Thank you for the clarification, I'll keep you updated on my progress

[2022-03-03 12:05] manibi commented on #38
Hey @Milind220,
We are currently developing a project that automatically generates sufficient & extensive API documentation. It is not ready yet to publish, but we can probably help you within the next 1-2 months if you are interested.

[2022-03-03 12:49] Milind220 commented on #38
@manibi Hey @manibi !

That sounds like a really awesome project!

We'll probably use something ready-to-use to create our documentation for now, but I think trying out new tools and helping out other projects is great, so I'd love to try it out on Ozone when you're done developing it.

Lemme know - either by email or just here on Ozone's repo!

[2022-03-03 18:15] antocommi commented on #29
Hi, I'd like to implement this feature. This would be my first contribution ever.

[2022-03-03 19:16] Milind220 commented on #29
@antocommi Hey, that's awesome! Don't hesitate if you need to reach out for help.

Also, if you're not sure about something you can just open the pull request, and I can give you feedback with the code review - so don't worry, and have fun!

[2022-03-03 19:19] antocommi commented on #29
I just made the first method. I'll test it and commit on dev asap

[2022-03-03 19:37] Milind220 opened #40 "Add a link to the versioning model in the README and the GitHub branching model in the CONTRIBUTING file"
The versioning model explains how Ozone uses semantic versioning to increment it's release version number.
The GitHub branching model explains how Ozone branches are created, and what purpose each one serves.

Both are currently covered in Ozone's discussions forum ([versioning](https://github.com/Milind220/Ozone/discussions/26) and [branching-model](https://github.com/Milind220/Ozone/discussions/

[2022-03-03 19:41] Milind220 opened #41 "Add example photos of resulting data from get_multiple_city_air data in README"
Add a couple of photos of the data retrieved by using the `get_multiple_city_air ` method with 2-3 cities.

I think a screenshot of the Excel sheet, and of the Pandas dataframe would probably be enough. Ideally use data from different cities for each screenshot, just to demonstrate the range of Ozone as a package.

You can add it as a small subsection under the example code GIFs.

[2022-03-03 20:09] antocommi commented on #29
I made a commit with another account that was previously logged in my computer. Could you delete the commit please?

[2022-03-03 20:51] antocommi commented on #36
I'll try to implement this feature

[2022-03-03 22:40] corey-new commented on #10
Hey @Milind220, at this point I've figured out the logic and implemented the function into the dev branch code. However, the only problem I'm running into is that I don't know how to run my updated ozone.py file.
I'm able to run the package, but the program runs the same (none of my changes) from when I first cloned it to my programming environment (Visual Studio Code with Windows PowerShell).
For

[2022-03-04 03:00] Milind220 commented on #10
Hi @corey-new ! Yeahh I think I might be familiar with the problem you're facing.  I need a little more information to be sure though haha.

1. How exactly are you trying to run the code? Are you running it with VS code's run button, or directly from the terminal? Are you importing your version of the package and then trying to use it, or directly attempting to run the ozone.py file?

2. Does your

[2022-03-04 03:01] Milind220 commented on #36
@antocommi Awesome!

[2022-03-04 05:37] Sam-damn commented on #3
I have made a lot of progress using selenium, however much like in requests , I got stuck at the same stage where a save as dialog appears “you have chosen to save this file” this dialog is an operating system window and hence cannot be accessed using selenium , I have to tried to bypass this by changing  the settings of the web driver profile to suppress this dialog box and to allow for an automa

[2022-03-04 05:56] Sam-damn commented on #3
As for using requests library , this same issue becomes even harder to solve because in order to download a file using requests u would need a URL to perform a GET Request on which we don’t have , and unfortunately the links u sent me do not Tackle this issue , nevertheless I will keep trying using selenium , in the mean time I would love to hear your opinion on this 😁

[2022-03-04 07:05] Milind220 commented on #3
@Sam-damn Now that you mention it, I think webscraping the table element is genius! It appears to be the easiest solution to this problem. I checked it out for a few locations, and the table is 100% complete for all the parameters.

Great thinking man!

Let's try this:
* Requests to fill up the form, if possible. That way we don't have to worry about adding Selenium WebDriver as a dependency.
* We

[2022-03-04 07:55] Milind220 commented on #3
@Sam-damn Actually, if you manage to do it with Selenium, that's fine too. I suppose we can ask users to download the WebDriver on their own, or perhaps setup a shell script to download it separately (idk if that's possible, but just an idea)

[2022-03-05 00:27] Sam-damn commented on #3
Alright then i will focus on the scraping then and i will  keep you updated, also what a coincidence i actually came across that package two days ago and been using it , its quite handy!

[2022-03-05 02:20] #29 closed

[2022-03-05 02:23] Milind220 commented on #3
@Sam-damn hahaha that's great. Let me know how it goes!

[2022-03-06 08:07] Milind220 opened #44 "Create a method to get air quality data for all stations a pair of latitude-longitude bounds"
This should allow users to enter in two pairs of lat-long coordinates. The WAQI API has an [endpoint](https://aqicn.org/json-api/doc/#api-Map_Queries) available to get all air quality measuring stations between two pairs of lat-long pairs. This list of stations could be used with the `get_multiple_coordinate_air` method in Ozone, to get the air quality for all of them.

This would be really useful

[2022-03-06 12:21] antocommi commented on #36
I currently return a dataframe where there is a column for each prediction with the following name "predictedVariable_i" (e.g. pm10_0, pm10_1, etc... ). Each entry contains the related json value given by the API response.
[code]

[2022-03-06 15:34] Milind220 commented on #36
Hey @antocommi , I just tried out your code and it works fine, but thinking about it now - I don't think the output in the format that we planned is very useful for anyone.

I think it might be a better idea to have your method only let users fetch the forecast data for a single parameter at a time. the columns could be the day, max, min, avg. Each row can represent the forecast for a single day.

[2022-03-06 16:39] corey-new commented on #10
Thank you @Milind220! Problem resolved, I'm able to test the program now. Sorry for the late respnose

[2022-03-07 17:33] antocommi commented on #36
Maybe we could add a column to specify the type of variable predicted (e.g. "pm10" ) in order to dinamically get multiple type of predicted variables and save some API calls for the same city/location.

We could let to the user the opportunity to choose which variables to store, all by default.
`ozone.get_city_forecast(["pm10", "pm25"])`

[2022-03-07 17:48] Milind220 commented on #36
@antocommi Alright that makes sense. Then each row can represent a day, and each cell would contain data in this format ?
` {
  "avg": 0,
  "day": "2022-03-09",
  "max": 1,
  "min": 0
}  `

[2022-03-07 17:49] Milind220 commented on #36
That's pretty good, we can specify in the documentation that the data is stored as a dictionary/JSON object, and I'm sure the users would be able to understand how to use it

[2022-03-07 18:09] corey-new commented on #10
Hello @Milind220, I'm still new to git and tried making a pull request to my own repo, the changes aren't specified right. Not sure how to fix this. I don't want to make a pull request to your repo without the clear changes that were made to the code. Is there anything I can do going forward?

[2022-03-07 18:16] Milind220 commented on #36
@antocommi right, but then how would we add in more than one data parameter?

I suppose it's possible and perhaps a good idea to just add more columns for the other parameters that users might want to fetch. So if they just want pm2.5 for example then the columns are:  day_pm2.5, max_pm2.5, min_pm2.5, avg_pm2.5

but if they want pm2.5 and o3 then another four columns for day_o3, max_ o3, min_ o3,

[2022-03-07 19:54] Milind220 commented on #10
@corey-new hey! Could ya explain to me exactly what's wrong? The process for making a PR is explained in the CONTRIBUTING file.
you have to push commits to your own forked repo, then when everything seems to be working, then create a PR to the Dev branch of ozone.

[2022-03-08 00:38] corey-new commented on #10
@Milind220 I just made a pull request for this issue. You can probably see the issue I've been having. I followed the CONTRIBUTING file easily, but could not push my code even when I was on origin. So I just added the file to my branch directly from GitHub. The changes I made are lines 208-214 and 312-347. Sorry for making this complicated.

[2022-03-08 07:40] Milind220 commented on #10
@corey-new Hi I checked out your code both in the pull request and on your forked repository. I've left a review on your PR which you can check out there.

let me reiterate the process of making a PR:

1. fork the main ozone repo from here
2. clone your forked repo to your computer.
3. switch to the dev branch
4. git remote add origin URL_OF_YOUR_FORK
5. make changes, and only commit once everythi

[2022-03-09 08:49] Milind220 commented on #4
The problem was really more to do with the potential of modifying the URLs, and not with instantiating the URL's class. This was solved with 52d5ec8e79e51f277ac5af8fef2aa0ee4db89f90

[2022-03-09 08:50] #4 closed

[2022-03-09 10:01] Milind220 opened #49 "List of parameters should be added to docstrings of methods, to allow users to understand what options they have to choose from"
`[ "aqi", "pm25", "pm10", "o3", "co", "no2", "so2", "dew", "h", "p", "t", "w", "wg" ]`

These are all the separate parameters that the API can get. For each data fetching method, in their docstrings, add the above line and indicate that these are the different options that users can choose from.

[2022-03-09 18:03] Milind220 commented on #3
@Sam-damn Any progress with that?

This is a pretty exciting feature for us to add - it would create a lot of opportunity for expansion and usage of the package. Historical data is very important for researchers, and this would make it really simple for them to get data. I'm hoping to get some professors from my university to use it if we can get this to work!

[2022-03-09 20:50] Sam-damn commented on #3
It’s almost finished! I got it working nicely now , and I tested it a lot , hopefully it will work for everyone , currently Iam just organizing the file and making it more readable and adding the docs and stuff and the packages etc...
and yes indeed it was quite challenging to get it to work and quite fun

[2022-03-10 05:46] iGotAdigBick commented on #11
Can I take care of this? I'm assuming that I just have to describe the classes and their public methods (if any). Do let me know if there's anything else that I can add

[2022-03-10 07:41] Milind220 commented on #11
@iGotAdigBick All yours! Let me know if you need help :)

[2022-03-10 07:43] Sam-damn commented on #44
hello @Milind220  can i work on this?

[2022-03-10 07:47] #11 closed

[2022-03-10 10:39] Milind220 commented on #44
@Sam-damn That'd be awesome! Your contributions have been 🔥 🔥

[2022-03-10 10:52] #10 closed

[2022-03-10 11:02] Milind220 commented on #3
@Sam-damn No problem at all! Your work has been top notch :)

[2022-03-10 16:33] iGotAdigBick commented on #2
@Milind220 Could I have this? Seems easy to do :)

[2022-03-10 16:48] #2 closed

[2022-03-10 19:28] Milind220 opened #54 "Create a virtual env setup guide for development of Ozone in the CONTRIBUTING file"
Using this exact environment is not compulsory, but does help to avoid issues with development of the package's features.

1. Instruct contributors to setup a virtual env with either conda environments or python virtual environments
2. As of now, Python 3.9 should be used ideally (it's what I've used for the majority of the package, and python 3.10 is not yet supported by conda environments)
3. th

[2022-03-10 19:33] Milind220 opened #55 "The mypy linter, black, and flake8 should be added as development dependencies for the package"
I've noticed that some contributors make commits that churn up mypy linting warnings. These warnings do not prevent execution of the code, but generally point out a flaw in the design of the program, often to do with type inconsistency.

I think as a part of the development environment, contributors should **ideally** have mypy installed. This also ties in with issue #54 , which has to do with the

[2022-03-10 19:39] Milind220 opened #56 "Create shell script to run to automatically bump the version number in setup.cfg and setup.py"
This script would be run by the maintainer when a new release is being created, to bump the version number before the final commit for the release.

* setup.cfg mentions the version number once, on line 3
* setup.py mentions the version number twice, on line 12, and in the download url in line 13

[2022-03-11 10:42] Milind220 opened #57 "Creation of proper API documentation with GitHub Pages"
Complete API documentation for Ozone must be created.

[2022-03-11 10:43] Milind220 commented on #57
I'll create this in the documentation branch for now, treating it as a feature, and then merge it into dev, and then finally into main with a new release.

[2022-03-12 20:24] Milind220 commented on #3
@Sam-damn Hey, check your email!

[2022-03-12 20:24] #3 closed

[2022-03-12 20:27] Milind220 opened #58 "Test out historical-data feature to ensure that it's production ready"
@Sam-damn

I tried this out today, and it worked great for the one city that I tried it with. I'm going to try it a few other places tomorrow.

[2022-03-13 01:54] Sam-damn commented on #58
@Milind220  that is great! did you notice any performance issues in speed of execution like i did ?
also i should point out that i think this feature or rather (the branch) isn't read to be merged because i still have to do minor adjustments to the doc strings of the methods and the module itself so that it is consistent with the other module.

and one more thing , i noticed that the search bar th

[2022-03-13 03:20] Sam-damn commented on #3
@Milind220 i sent a reply 😁

[2022-03-13 05:12] #44 closed

[2022-03-13 06:30] Sam-damn commented on #55
i will work on this ,  i think it is important that we get this fixed as soon as possible so that all contributors
have a consistent development environment including my self

[2022-03-13 08:18] Sam-damn opened #60 "Add .idea files to .gitignore file"
A lot of contributors might be using IntelliJ IDE when committing their changes, and might accidentally include the .idea folder as part of their committed changes when making their pull request.
To prevent this from occurring, a line should be added to the .gitignore file that matches .idea folder, effectively preventing it from being Considered (ignored) when staging and committing changes.

[2022-03-13 08:44] Milind220 commented on #55
@Sam-damn Great! thanks :)

[2022-03-13 09:08] Milind220 commented on #58
@Sam-damn Yeahhhh I did. It took about 5 minutes for it to fetch the data for me, but we can't do much about that. I don't think it's a problem though - It would take about as long for a person to get the data manually, and this way it's done automatically.

### if the search returns options but none match exactly:
As you said, we should provide the user with the options and let them choose which

[2022-03-13 14:42] lahdjirayhan commented on #60
Consider including .vscode as well!

[2022-03-13 15:19] Sam-damn commented on #60
Will do! Thanks for the reminder @lahdjirayhan  would you like to work on this issue ?

[2022-03-14 03:41] Sam-damn commented on #58
@Milind220  that seems like a solid plan! nice thinking 😁

[2022-03-15 11:36] Milind220 opened #62 "Add link to the Ozone PyPI package in the README"
We currently do not have a link to the PyPI page for Ozone (on PyPI it's called ozon3). This is generally a good idea for the sake of completeness.

[This](https://pypi.org/project/ozon3/) is the page that should be linked.

Add the link in the section of the README that instructs users on how to download the package using pip.

[2022-03-15 14:42] Milind220 commented on #62
@AliShahpurwala hey! No worries, lemme know if you need help with the process :)

Feel free to try another issue after this one! There's some interesting but not too difficult issues that we have listed.

[2022-03-15 15:32] lahdjirayhan opened #66 "Unhelpful error msg when attempting a nonexistent city"
Windows 7, Python 3.8.5, dev branch

---
[code]

---

Might've been what is discussed in #58. In any case, there should be a more helpful error message.

[2022-03-15 15:46] Milind220 commented on #66
@lahdjirayhan Hey! Thanks for filing this issue. It's a good catch, that's a pretty meaningless error message.
It's unrelated to the other issue.

We need to improve error messages for every method of the package actually.

If you'd like to address this issue, we'd love that! Let us know and we'll assign it to you

[2022-03-15 15:59] lahdjirayhan commented on #66
Sure. I'll try to address it.

[2022-03-15 18:28] Sam-damn commented on #36
@antocommi  any updates on this?

[2022-03-15 19:37] Sam-damn commented on #62
Good job! @AliShahpurwala

[2022-03-15 19:37] #62 closed

[2022-03-15 20:27] Sam-damn commented on #8
hey @Milind220 can i take this off your plate?
i always wanted to a implement a test suite , also i feel like this will give me the opportunity to learn more about GitHub actions and workflow and CI/CD and hooks and such.

[2022-03-16 10:24] antocommi commented on #36
Hi, I've been busy lately. I didn't work on this issue.

[2022-03-16 16:27] Sam-damn commented on #56
Hello @AliShahpurwala thank you for taking time of your day to contribute to ozone!
Now as you said , the schema that we follow in this repository is called Semantic versioning  and it is actually explained at length [here](https://semver.org/) .
at the end of the page the complete grammar for this schema is listed , and if you read the grammar you will be able to make out that none of the MAJOR ,

[2022-03-16 16:47] Milind220 commented on #56
@AliShahpurwala Hey! @Sam-damn explained it well. As he mentions, the script doesn't need to decide the new version number on its own, but instead accept the version number from whoever runs it. Then it just does the job of changing it for us

Hope that clears it up!

[2022-03-17 08:41] Milind220 commented on #36
@antocommi No problem - Are you keen to continue working on this? If not then perhaps you can contribute to Ozone on a future issue

[2022-03-17 08:43] Milind220 commented on #8
@Sam-damn Hahaha sure

I've been meaning to get to this for quite a while now, but been bogged down with work. Have fun working on it - After it's complete we can open a new issue to connect the tests to a continuous testing workflow so that you can learn that too!

[2022-03-17 08:44] Milind220 opened #71 "Create a GitHub action to assign issues to contributors if they comment on an issue saying 'I will do this'"
This would help ensure that issues are quickly assigned to contributors who express an interest in doing them.
Some steps to help you get started if you're not sure how to go about this:

* [article](https://dev.to/github/assigning-new-contributors-to-issues-using-github-actions-1d27) that covers exactly this. Keep in mind that, for this repo, a user should comment 'I will do this' to get the issu

[2022-03-17 09:06] Milind220 commented on #71
Perhaps we could even make this entertaining, and require contributors to say - "Hold my beer, I got this"

[2022-03-17 09:54] Sam-damn commented on #71
Sounds like a fun idea I love it😊

[2022-03-17 18:41] kristinamancini commented on #40
Hi! I’m looking to contribute to open source projects, and I was wondering if I could be assigned this issue. Thanks!

[2022-03-17 18:42] Milind220 commented on #40
@kristinamancini Hi! Sure thing, let me know if you need help with any part of it

[2022-03-17 23:32] kristinamancini commented on #40
For a section about ‘Semantic Versioning System’, would it be best to put it above the ‘Contributing and submitting Pull Requests’ section in the README.md? And similarly, for a ‘GitHub Branching Model’ section, would it be best to put it under the Style Guides section in the contributing file?

[2022-03-17 23:38] Sam-damn commented on #8
Great! very excited for this :)

[2022-03-18 02:04] Sam-damn commented on #40
hey @kristinamancini i think it is best to do it like @Milind220 mentioned, at the bottom of the file so that means under the
Style Guides , because if you think about it, What any new contributor would want to see first is the Pull request section since it is a detailed step by step guide, and then next they will want information on how to style their commits and format their code so the Style Gu

[2022-03-18 14:56] kristinamancini commented on #40
Got it, thank you!

[2022-03-19 04:57] #40 closed

[2022-03-19 07:59] #55 closed

[2022-03-19 08:05] #41 closed

[2022-03-19 14:56] #71 closed

[2022-03-19 17:41] Milind220 commented on #56
Hey @AliShahpurwala, on testing the script now, I've been unable to get it to work. I realise now that this could be because my computer uses Zsh as it's default shell, but I'm not entirely sure.

Here's what I've tried

`./updateVersion.sh patch`
zsh: permission denied: ./updateVersion.sh

`sudo ./updateVersion.sh patch`
sudo: ./updateVersion.sh: command not found

[code]

<img width="386" alt="C

[2022-03-19 17:46] Milind220 commented on #30
Hold my beer, I got this

[2022-03-19 17:47] Milind220 commented on #30
I was just testing our new bot out! Feel free to take this :)

[2022-03-19 18:57] lahdjirayhan commented on #54
Hold my beer, I got this

(I'm testing out the github workflows)

[2022-03-20 02:43] AliShahpurwala commented on #56
Hmm ok that's odd. I'll take a look at this and get back to you ASAP. I'll also try and see the OS that I'm working on currently and try it on a VM too if required.

[2022-03-20 13:47] Milind220 commented on #56
@AliShahpurwala Gotcha! That makes sense. I'll try re-cloning the repo and then try it with bash. Thanks!

[2022-03-20 13:49] Milind220 commented on #54
Awesome! Works great :)

[2022-03-20 15:10] AliShahpurwala commented on #56
Hey so from this issue, I had an idea that would help maybe avoid these problems in the future. I've recently been using Docker in one of my courses for school and it seems that if we have a Docker image that people could use, it could help avoid some development problems in the future. I'm still very very new to Docker but I'm willing to learn more about it and give it a go. Not sure if this is o

[2022-03-20 15:37] Milind220 commented on #36
@antocommi Though I've unassigned you from this issue, I'd love your contributions on other issues in the future! It was great working with you :)

[2022-03-20 15:39] Milind220 commented on #54
@lahdjirayhan Thanks for your contributions! This was a particularly important issue for us to fix!

[2022-03-20 15:39] #54 closed

[2022-03-20 15:41] Milind220 commented on #56
@AliShahpurwala Hey! Docker might be a tad overkill for something like Ozone as far as I understand. However, as you learn more about it, if you see a good concrete application for it I'd be open to using it with the package.
Thanks for the suggestion!

[2022-03-20 15:42] lahdjirayhan commented on #54
Thanks for merging my work as well 😃 @Milind220

[2022-03-20 18:01] antocommi commented on #36
No problem! I will come back in a couple of weeks 😃

[2022-03-21 19:10] Milind220 opened #78 "When following development environment setup guide in CONTRIBUTING file, pre-commit install doesn't work right away"
While following the development environment setup guide from the CONTRIBUTING file, the line that instructs us to do :
`pre-commit install`

doesn't work right away. I had to pip install pre-commit and then re run the `pre-commit install` for it to work.

* I'm using a conda virtual environment with python 3.9
* Using Zsh

Shouldn't the 'pre-commit' package be added to our dev dependencies in orde

[2022-03-21 19:11] Milind220 commented on #78
@lahdjirayhan Figured you'd be able to fix this! If you're interested, it's all yours!

[2022-03-21 19:18] Milind220 opened #79 "MyPy flags a type incompatibility in line 436 of Ozone.py. This is in the get_specific_parameter method"
## The problem

### Here's the warning that's displayed:

Argument of type "Series[Unknown]" cannot be assigned to parameter "x" of type "SupportsFloat | SupportsIndex | str | bytes |

### This is the line of code that causes this:
[code]
### Possible explanation
Here, row is a Pandas dataframe, and air_param is a column in it

This warning, if I understand correctly, is basically indicating that

[2022-03-21 19:22] Sam-damn commented on #78
@Milind220 isn't pre-commit specified in the requirements.txt

[2022-03-21 19:25] Milind220 commented on #78
@Sam-damn lol I just realised what I did. I tried this from the main branch instead of dev.

[2022-03-21 19:27] Milind220 commented on #78
This is what I get for trying to write code at 1 am lol. Sorry about that @Sam-damn @lahdjirayhan

[2022-03-21 19:27] #78 closed

[2022-03-21 19:27] Sam-damn commented on #78
ohh lol

[2022-03-21 19:27] Sam-damn commented on #78
it is alright hahahahah @Milind220

[2022-03-21 19:32] Sam-damn commented on #58
@Milind220 it probably has to do with the browser itself this is the annoying thing about selenium, can u show me what error it threw?

[2022-03-22 06:34] Milind220 commented on #58
This is the final error message (it won't even let me import ozone)

Full error trace:

<img width="694" alt="Screenshot 2022-03-22 at 12 03 45 PM" src="https://user-images.githubusercontent.com/68847270/159421738-82d26381-863d-4869-8f94-1078c3dfe22d.png">

[2022-03-22 06:38] Milind220 commented on #58
@Sam-damn Do you think it's perhaps that WebDriver-manager isn't downloading the right WebDriver? It's mentioning Mozilla Firefox, but I thought we'd be running it on Chrome?

[2022-03-22 06:54] lahdjirayhan commented on #79
Strange, mypy does not complain about it to me (I bet it's something on my end, though). Good catch either way.

---

I don't have anything to say about fixing the mypy warning. However, I have something to say about the possible solution.

I changed the implementation of `get_specific_parameter` method to this one [in this commit](https://github.com/Milind220/Ozone/pull/70/commits/999326bf235340a

[2022-03-22 07:27] lahdjirayhan commented on #79
Also after I think about it, any further fixes to `get_city_air` will also need to be applied to `get_specific_parameter`, since basically they're calling the same API URL endpoint and should get roughly the same result. I'm inclined to think refactoring is the best way to go.

[2022-03-22 08:31] lahdjirayhan opened #80 "Need better checking for the JSON response"
## Problem

It is possible to get a response status code 200 (OK), yet a JSON response like this:
[code]

That is, when you call `get_city_air("")` (search for city with empty string as its name). Currently, doing this raises a KeyError.

This is what we have now:

https://github.com/Milind220/Ozone/blob/bef2e410315ac67541448f22296be56c56e90e58/src/ozone/ozone.py#L318-L330

Because the response st

[2022-03-22 10:43] Sam-damn commented on #58
@Milind220 iam using Mozilla web driver in the implementation not chrome , because it’s simpler less light weight and it’s usually preferred

[2022-03-22 10:52] Sam-damn commented on #58
After searching the web for this issue I found this [here](https://stackoverflow.com/questions/64908154/sessionnotcreatedexception-message-expected-browser-binary-location-but-unabl/64908883#64908883) apparently according to the question this error appears because Firefox itself isn’t installed on your system but isn’t a web driver only what selenium needs for running ? And isn’t that what webdriv

[2022-03-22 11:10] Sam-damn commented on #58
@Milind220 cab you check your Home folder , inside of it there should be a .wdm directory which has a drivers folder inside of it , Firefox web driver manager should be downloaded by Webdriver-manager into there , and then it is passed into selenium from the return value of install() method as u can see

[2022-03-22 11:13] Sam-damn commented on #58
Also the reason why it wouldn’t let you import is because , upon importing a module is when it’s global instances are defined , and that’s where selenium instance is being instantiated

[2022-03-22 11:53] Sam-damn commented on #79
@lahdjirayhan i agree with line of reasoning of grouping steps from 1 to 5 in a private method for it to be reused to reduce the redundancy in both methods, would you like to hold the beer for this one ?

[2022-03-23 09:16] Milind220 commented on #8
@Sam-damn

* Creating a mock API response to feed into Ozone's methods makes sense - The WAQI API is pretty stable and is unlikely to change anyway, so testing our own code is all we need to do. We should generally remain aware of any changes to the WAQI API though - but perhaps that's a separate issue
* Definitely include some simple tests to check if the urls are what they should be - all our fu

[2022-03-23 09:19] Milind220 commented on #79
@lahdjirayhan Definitely agree with you there - a private method to cover that functionality would be ideal and much cleaner than repeating the code.

@Sam-damn ahahaha I love that line "would you like to hold the beer for this one?" - Great stuff hahaha

[2022-03-23 09:20] Milind220 commented on #79
This issue is actually only a symptom of the actual problem that you've pointed out. Let's close this issue and create a new one to address the need for refactoring that section of code.

[2022-03-23 09:20] #79 closed

[2022-03-23 09:22] Milind220 commented on #58
Yeah this is exactly what I thought WebDriver-manager would help with, I'll give it some thought too!

[2022-03-23 09:25] Milind220 commented on #58
.wdm directory is there, inside of which there is a drivers folder, which contains Chromedriver and Geckodriver, but no Firefox driver

<img width="322" alt="Screenshot 2022-03-23 at 2 53 28 PM" src="https://user-images.githubusercontent.com/68847270/159666230-debeabe5-59f5-4474-8fb8-092d74e7b003.png">

[2022-03-23 09:35] Milind220 commented on #80
@lahdjirayhan Good catch - it's definitely possible for bad responses to sneak past the initial if statement. A more comprehensive method to check the API response status would be great here.

The online [documentation](https://aqicn.org/json-api/doc/) for the WAQI API does show the possible error messages that could accompany a status of Error 4xx.

<img width="586" alt="Screenshot 2022-03-23 at

[2022-03-23 12:14] Sam-damn commented on #58
@Milind220 geckodriver is the firefox one, the folder should have the binary inside of it
![geckdriver](https://user-images.githubusercontent.com/77106608/159696619-d9be321d-99b1-4a61-a387-aef3cf27c068.JPG)

[2022-03-23 14:07] kristinamancini commented on #30
Hold my beer, I got this

[2022-03-23 17:01] lahdjirayhan commented on #8
Looking forward to your PR @Sam-damn :)

[2022-03-23 18:16] Milind220 commented on #80
@lahdjirayhan Absolutely, let's go with that

[2022-03-23 18:17] lahdjirayhan commented on #80
Yeah I'll try and see if I can come up with something. Hold my beer, I got this (hopefully)

[2022-03-23 18:43] Milind220 commented on #58
@Sam-damn Oh okayyy that makes sense.

[2022-03-23 18:52] Milind220 commented on #58
@Sam-damn So I got it to work with a few adjustments

* I changed every mention of Firefox to Chrome

* I changed every mention of Geckodriver to Chromedriver

It then fetched the historical data for London with no problem. I think this is probably because my computer has Google Chrome on it, but not Mozilla Firefox. Webdriver manager must still require you to have the actual browser in order for

[2022-03-23 18:54] Milind220 commented on #58
Here's what the edited code looks like for me. This is all it needed to work for me.

Also, the fact that your original code worked on my old computer makes sense - my old computer had Mozilla Firefox installed on it.
<img width="807" alt="Screenshot 2022-03-24 at 12 23 13 AM" src="https://user-images.githubusercontent.com/68847270/159774636-71ea84c8-615e-4b52-9d98-b07f4ae46d77.png">

[2022-03-23 18:57] Sam-damn commented on #58
OHH this is actually quite surprising to me  i didn't think it would work with chrome that easily without introducing changes to the code hahaha, great in that case i love your idea of incorporating the user's choice into this, how about we extend this even further and first we try the user's driver choice and if it raises exception we catch it and try the next driver until it works , this way i t

[2022-03-23 19:01] Sam-damn commented on #58
also @Milind220 one thing worries me tho, if the page changes its HTML style in the future (which is unlikely) , the code will break, should i leave those worries for a future issue? as an enhancement to making the code completely robust (iam not sure if its possible tho )

[2022-03-23 19:04] kristinamancini commented on #30
I have gathered explanations for each parameter, however I am having trouble finding the meaning of the parameter ‘wg’. I searched for the meaning on the WAQI website and others but cannot seem to find it.

Here is what I have so far:

 * aqi: air quality index, a measurement of air quality that tells you how clean or polluted the air is
 * pm25: fine particulate matter, a measure of 2.5 micromete

[2022-03-23 19:09] Milind220 opened #83 "Contributors section in README to give credit to all the people who's code helps improve Ozone"
A section in the README, to give attribution to all the contributors that add code to Ozone.

Here's a guide to doing this, that I found online:

* https://levelup.gitconnected.com/displaying-contributors-image-on-readme-files-with-no-pain-f1cbaca963e8

[2022-03-23 19:13] Milind220 commented on #30
@kristinamancini That's awesome!

Don't worry about the last parameter 'wg'. We can always merge in what you got right now and add the line for 'wg' when someone manages to find it.

You can go ahead and make your PR if you're done making changes! Thanks a lot.

[2022-03-24 09:46] tariksouabny commented on #37
I think that I can do this. However, in what directory do you want the FILE_STRUCTURE.md to be placed in?

[2022-03-24 11:39] Sam-damn commented on #37
@tariksouabny the file should be placed in the top most directory, so along side README.md and CONTRIBUTING.md files, i will assign you to this issue :) , in the future if there is any issue you want to be assigned to you can just comment on it by saying:

 "Hold my beer, I got this"

[2022-03-24 13:43] Tomiiwa commented on #83
Hi, I'd like to work on this documentation

[2022-03-24 13:47] Sam-damn commented on #83
@Tomiiwa i have assigned you to work on this, have fun and if you have any questions about it don't hesitate to ask here ;)

[2022-03-24 13:52] Tomiiwa commented on #83
Alright, thank you

[2022-03-24 14:36] Milind220 commented on #58
That's a very valid concern, and might happen in the future. Let's leave this for now - there's not much we can do about it anyways

[2022-03-24 14:36] Tomiiwa commented on #83
Hi, the repo isn't coming up on contrib rocks

[2022-03-24 14:36] Milind220 commented on #58
@Sam-damn great idea about trying the users choice and then the other options if their choice fails. Let's do it like that

[2022-03-24 14:42] Milind220 commented on #83
@Tomiiwa try this out instead maybe:

https://dev.to/lacolaco/introducing-contributors-img-keep-contributors-in-readme-md-gci

[2022-03-24 14:49] Tomiiwa commented on #83
![Screenshot (311)](https://user-images.githubusercontent.com/61966277/159943091-87aa615c-7938-454b-b416-ccc6c6960ec7.png)

Still the same link

[2022-03-24 15:07] Tomiiwa commented on #83
It worked!

[2022-03-24 15:11] Sam-damn commented on #83
great!  @Tomiiwa what was the issue at first?

[2022-03-24 15:11] Milind220 commented on #83
@Tomiiwa Awesome! How'd you do it?

[2022-03-24 15:30] Tomiiwa commented on #83
Contrib.rocks could not find the repo. I tried the samples already on the page and edited to fit the Ozone repo

[2022-03-24 16:44] Milind220 commented on #83
@Tomiiwa will it automatically update when new contributors add their contributions?

[2022-03-24 19:51] Tomiiwa commented on #83
it should, it is linked to the contributors on the repo

[2022-03-25 04:43] #83 closed

[2022-03-25 04:44] #38 closed

[2022-03-25 04:46] #30 closed

[2022-03-25 04:54] Milind220 opened #87 "Refactor repeated section of code responsible for getting data row dict into separate private method"
As @lahdjirayhan mentioned in #79 , this part of Ozone's logic is being duplicated:

This should be refactored into its own private method for cleaner use.

[2022-03-25 04:55] Milind220 commented on #87
@lahdjirayhan assign yourself if you're working on this

[2022-03-25 08:49] Sam-damn opened #89 "Add Option for User of ozone to specify a path to output directory for any files (csv, json, xlsl) that might be created"
@Milind220 while writing the tests i noticed that running the `_format_output()` generates files in the current directory of the code , i think it would be better if the user himself can choose the location of the output of such files like csv or json or any future files that ozone might create.

the best way this can be done in my opinion is by adding a property `output_dir` to the class ozone it

[2022-03-25 08:51] Sam-damn commented on #89
Hold my beer, I got this

[2022-03-25 09:30] Tomiiwa commented on #19
Hold my beer, I got this

[2022-03-25 10:42] #89 closed

[2022-03-25 11:37] #19 closed

[2022-03-25 11:44] Tomiiwa commented on #5
Hold my beer, I got this

[2022-03-25 11:55] Milind220 opened #93 "Broken link in CONTRIBUTING.md"
In the `dev` branch CONTRIBUTING file's Table of Contents, the hyperlink for 'The world air quality index's API' doesn't work.

It is supposed to take you down to the section of the file that it's referring to, but fails to do this. This is probably because of the `'` in the phrase - The world air quality index's API

Pretty easy fix, a simple google search should give you the answer.

(Also whoev

[2022-03-25 12:37] kristinamancini commented on #93
Hold my beer, I got this

[2022-03-25 13:35] #93 closed

[2022-03-25 14:14] #5 closed

[2022-03-27 01:55] tariksouabny commented on #49
Not a problem 😎.
Is it also necessary to provide explanations for each of the parameters?

[2022-03-27 06:31] #80 closed

[2022-03-27 06:36] #37 closed

[2022-03-27 06:58] #57 closed

[2022-03-27 07:07] Milind220 opened #98 "Addition of dark mode to API Documentation website"
This is the official API documentation for Ozone, built through GitHub Pages:

https://milind220.github.io/Ozone/

However, as you can tell, this website doesn't have a dark mode at all - and we all know that dark mode is the most important feature any project can offer 😎. With this in mind, can someone figure out how to add dark mode to this website?

### Details of task
* Ideally it should be re

[2022-03-27 07:11] Milind220 opened #100 "Creation of logo for Ozone package"
Ozone currently lacks a logo. A logo goes a long way in making the package feel more professional, and makes the README and documentation site look prettier too!

### Guidelines

- The logo should be related to these keywords: ozone, air, clouds, weather, etc

- Should be in .svg format ideally

- Gotta be cool!

#### **Be creative, have fun!**

[2022-03-27 07:15] Milind220 commented on #49
@tariksouabny  No, just add the list of parameters as is. The README contains detailed information about the parameters.

[2022-03-27 07:16] Milind220 commented on #49
Also, remember to assign yourself to this issue using our new GitHub bot!

[2022-03-27 07:19] Milind220 opened #101 "Remove 'Support or Contact' heading from the API documentation website"
<img width="892" alt="Screenshot 2022-03-27 at 12 47 45 PM" src="https://user-images.githubusercontent.com/68847270/160271024-059ae034-fb05-426c-a1e4-139ae6c13699.png">

GitHub Pages automatically adds this in, but it's not required and shouldn't be there.

* use the `gh-pages` branch for this

* Do not directly commit to it but instead make a PR from your own fork

[2022-03-27 08:24] tariksouabny commented on #49
Hold my beer, I got this

[2022-03-27 12:36] lahdjirayhan commented on #58
Can I also develop this branch (`hist-data`, I assume)? Do I need to make PRs? I'm eager to try out and contribute to this feature, too, if still possible.

[2022-03-28 05:28] Milind220 commented on #58
@lahdjirayhan Yeah that'd be great! This feature is going to go a long way in making Ozone more useful

All the details you need are in the conversation above

[2022-03-28 05:29] Milind220 commented on #58
We're aiming to implement this. The rest of it works for now!

[2022-03-29 08:34] Tomiiwa commented on #101
Hi, I can't find the main file for editing

[2022-03-29 11:18] Milind220 commented on #101
@Tomiiwa , I believe you've addressed the PR to the gh-pages branch of your own fork. You must make the PR between your fork and the main Ozone repo

[2022-03-30 12:18] Milind220 commented on #58
@lahdjirayhan @Sam-damn Any updates on this? If you need me, I can help out with this too. Just lemme know what part you guys are working on so that we don't accidentally end up doing the same sections of code.

[2022-03-30 13:46] Sam-damn commented on #58
![Connection time out](https://user-images.githubusercontent.com/77106608/160849334-5601ae43-4dae-445c-ab71-103e8afa9934.JPG)

could the website itself be busy? or is it a problem from my side of network

[2022-03-30 13:52] lahdjirayhan commented on #58
@Milind220 I'm actually trying to find a way to scrape the data preferably without resorting to Selenium. My plans are:

1. Try to use the same way the target site's frontend fetches and shows the data. The pros of this approach are no browser/driver needed, just `requests`. However the cons are I need to first try really, really hard to know which JS script creates the table and then see if I can

[2022-03-30 13:53] lahdjirayhan commented on #58
@Sam-damn works fine on my end. Your network could likely be at fault.

[2022-03-30 14:41] Sam-damn commented on #58
@lahdjirayhan

Using selenium wasn't our first choice at all,  we actually went down the path of trying to automate this whole process using just requests
we had a full discussion on this and the full process we went through is detailed [here](https://github.com/Milind220/Ozone/issues/3#partial-timeline)

1. That alone won't be enough, the client side receives the encrypted (or possibly encoded) t

[2022-03-30 17:15] Sam-damn commented on #58
@lahdjirayhan  i didn't know that there is another page which offers information regarding this table this is great!  in that case yes i agree with you, this approach would definitely be better :)

[2022-03-30 17:39] Sam-damn commented on #58
@lahdjirayhan
when i search the URL with the id specific for HongKong the page doesn't seem to have historical data for some reasonn
https://aqicn.org/city/@3308

[2022-03-30 18:02] lahdjirayhan commented on #58
Yes, that means you'll need to use other search results. The first one doesn't always work. I guess there should be a way to filter out those occasions, but I can't figure yet. @Sam-damn

[2022-03-30 18:15] Sam-damn commented on #58
Indeed and for Hong Kong the second location in the list is "Xiangzhou Hangkong Road , Xiangyang" which isn't hong kong but rather a sub part of it or something,  but the weird thing is this doesn't happen in the original page for https://aqicn.org/data-platform/register
when u type in HongKong and press on the suggestion, the table data appears normally, that is very weird.

[2022-03-30 22:19] Sam-damn commented on #58
@lahdjirayhan  if you type this URL inside the search bar https://api.waqi.info/api/attsse/3308/yd.json
 (the number in the URL is the id for the city)
you will be prompted to download a JSON file which itself contains the historical data table, if you open it you will see the entries for each date and for each parameter, however the data for each parameter seems encrypted or encoded if you can fi

[2022-03-31 06:11] lahdjirayhan commented on #58
@Sam-damn I'm already aware of that for some time now. I'm exactly on the process of finding out how to convert that long encoded string into a nice row-wise table. I think I'm already getting somewhere.

[2022-04-01 07:29] Milind220 commented on #58
@lahdjirayhan @Sam-damn Woah guys, this is awesome! I just went through all the comments since I last commented and wow you guys have been busy!

(the number in the URL is the id for the city)
you will be prompted to download a JSON file which itself contains the historical data table, if you open it you will see the entries for each date and for each parameter, however the data for each parameter

[2022-04-02 20:12] lahdjirayhan commented on #58
@Milind220 @Sam-damn I've been able to successfully decode the server-sent data. I've tested it on some cities and with several (well-behaving) inputs and it works as expected. However, I've yet to try out bad inputs to catch errors.

As of this writing I haven't yet added the functionality into Ozone proper, and that's what I'm going to do for now.

Expect a PR soon for my work on this feature if

[2022-04-02 20:41] Sam-damn commented on #58
@lahdjirayhan Very amazing! Good job man , looking forward to the pull request ,  Iam curious what sort of encoding scheme it turned out to be ?

[2022-04-02 20:53] lahdjirayhan commented on #58
@Sam-damn I'm not sure. Custom, maybe? It turns out to be extremely too hard to de-obfuscate, understand, and rewrite the JS functions into Python. (Just too many obscure obfuscation techniques, and I'm not well-versed in JS..)

Instead, I isolate what I think is the relevant set of functions. Afterwards, I use this awesome package I've stumbled upon just recently to make the JS script run-able wi

[2022-04-02 21:10] Sam-damn commented on #58
@lahdjirayhan Believe me not even javascript experts could ever understand the obfuscated functions that are defined in the on-click events  ,  treating it as a black box like you did is probably for the best , can’t wait to see how you applied it 😊

[2022-04-02 22:33] #49 closed

[2022-04-03 13:14] Milind220 commented on #58
@lahdjirayhan Woah! well done man! I'll test your code soon - excited to merge this in if everything works though

[2022-04-05 18:23] kristinamancini commented on #100
Hold my beer, I got this

[2022-04-06 00:59] kristinamancini commented on #100
Here is what I came up with:

![Ozone Logo](https://user-images.githubusercontent.com/85172362/161873596-60122fe9-b34b-4ce5-91af-4ff624f34e8c.svg)

Using Figma, I put ozone (three oxygen molecules) and a cloud in front of what is assumed to be the earth or the air, implying ozone depletion.

[2022-04-10 17:46] lahdjirayhan commented on #36
I will try to implement this.

[2022-04-12 06:35] Milind220 commented on #100
@kristinamancini Hey! thank you for the effort. I do have some feedback for your proposed logo though:

* The Ozone air quality package doesn't actually have much to do with ozone depletion.
* Your logo is a little hard to interpret without your explanation alongside. A simpler, more visually appealing logo might be a better idea. Maybe something like just a fancy looking Ozone molecule, or a cool

[2022-04-12 11:54] Milind220 commented on #58
@Sam-damn Thank you for working on this with great dedication. Despite the fact that your solution for this was not merged, it certainly helped us understand the historical data page better.  I'm closing this issue for now at least, as @lahdjirayhan 's PR has now been merged into dev.

[2022-04-12 11:54] #58 closed

[2022-04-12 12:17] Milind220 opened #106 "Add example usage and gif of `get_historical_data` method to README"
We recently added a feature for retrieving historical air quality data. To make this clear for users to use, It's a good idea for us to add an example of it being used to the README in the form of a gif.

Show briefly how the method can be used in the 'Getting Started' section. Add this in the same format that the other methods are shown.

Here are the steps you can follow to add the gif:

1. Use

[2022-04-12 12:17] Milind220 commented on #106
Feel free to ask if you're not sure how to go about this!

[2022-04-12 12:22] Milind220 opened #107 "Add documentation for `get_historical_data`, `get_city_station_options`, and `get_city_forecast` to the gh-pages documentation"
The methods page of the official API documentation explains every public method in Ozone and shows how it can be used.

Three new methods have been added, for which there is no complete documentation right now:
* `get_historical_data`
* `get_city_station_options`
* `get_city_forecast`

[2022-04-12 13:42] lahdjirayhan commented on #36
I almost forgot to tell Github to hold my beer, I got this :D

[2022-04-12 14:57] lahdjirayhan commented on #36
Currently I have this output format. Is this good? Pandas DataFrame, with MultiIndex columns, and Timestamp Index.

![image](https://user-images.githubusercontent.com/52926983/162990956-a8e8853a-da80-479b-bf2a-4e38797c28e6.png)

For more, take a look at my fork on `forecast` branch, I can continue with a PR if it's okay.

@Milind220

[2022-04-13 00:05] kristinamancini commented on #100
Thanks for the feedback! I used your suggestions and I think this type of design fits a bit better, let me know what you think!

![OzoneLogo](https://user-images.githubusercontent.com/85172362/163073721-c8472145-0aa1-4b1e-955f-c9c90a225ad5.svg)

[2022-04-13 03:14] Milind220 commented on #100
@kristinamancini Hey! That's definitely better. Could you make it a nice turquoise colour? I think that'd look nice for an air quality package :)
This colour or something similar might be ideal: #4DD8BF

[2022-04-13 03:17] Milind220 commented on #36
@lahdjirayhan Yesss! This is ideal - can't think of a clearer way to display the data. Go ahead with a PR if you feel it's ready!

[2022-04-13 04:15] Milind220 commented on #106
ba9b032 fixes this. Sorry for not waiting for a contributor to fix this, but this was needed urgently.

[2022-04-13 04:15] #106 closed

[2022-04-13 16:41] kristinamancini commented on #100
Thanks! Here it is with #4DD8BF color:

![Ozone Logo](https://user-images.githubusercontent.com/85172362/163228173-98d7a37b-6fd9-4f81-aff4-5211d6bb672d.svg)

[2022-04-15 01:35] Milind220 commented on #8
@Sam-damn Hey! Are you still working on the unit tests? We definitely need this asap, so let us know if you're too busy to work on it

[2022-04-15 01:35] Milind220 commented on #8
@

[2022-04-15 08:03] Milind220 commented on #100
@kristinamancini I really like that actually! Could you share a high resolution version of it so that we can add it in wherever necessary?

[2022-04-15 14:13] #36 closed

[2022-04-15 15:04] kristinamancini commented on #100
Sure thing, how is this?

![Ozone Logo](https://user-images.githubusercontent.com/85172362/163585390-dbdf1d44-474d-4d1d-bb7f-31560e2157ca.svg)

[2022-04-16 07:18] Milind220 commented on #100
@kristinamancini Great, you can make a PR which changes the README to add in the logo below the Ozone title, and remove the cloud emoji next to Ozone.

For example, this mark-down snippet adds the logo in the centre:
[code]

This would look like this:

<div align=center

![163585390-dbdf1d44-474d-4d1d-bb7f-31560e2157ca-2](https://user-images.githubusercontent.com/68847270/163665439-860ba833-d231-4

[2022-04-16 20:06] Sam-damn commented on #8
@Milind220 i apologize i got a a little busy with job , i think it would be best if someone else is assigned to this.

[2022-04-16 22:09] lahdjirayhan commented on #8
I'll take this and try.

Hold my beer, I got this.

[2022-04-17 00:27] lahdjirayhan commented on #100
Should this logo be placed in src/media folder too? @Milind220

[2022-04-17 01:01] Milind220 commented on #100
@lahdjirayhan Actually yeah, that's better for the sake of consistency

[2022-04-18 13:31] #100 closed

[2022-04-20 07:49] Milind220 opened #112 "Addition of new logo to complete API documentation"
In #100 we settled on a new logo for Ozone. This logo has now been added to the README, but still has to be added to the API documentation GitHub pages website. Here's how you can go about this:

The gh-pages site has it's code in the gh-pages branch. Make a PR to that branch with the changes you've made, and we'll merge it in.

[2022-04-20 08:10] Milind220 opened #114 "Returned dataframe from `get_historical_data` doesn't have a label for the dates column"
All the other columns except for the dates column have labels. While it is pretty obvious that this column contains dates, for the sake of completeness it should be labelled.

The screenshot below shows what I mean.

<img width="394" alt="Screenshot 2022-04-20 at 4 07 26 PM" src="https://user-images.githubusercontent.com/68847270/164181617-5c04f89d-e3fb-4256-9051-dd993f3dd1fa.png">

[2022-04-20 08:20] Milind220 opened #115 "The label of one column of the returned dataframe for all methods should be pm2.5, not pm25"
The dataframe returned by the methods contains data on particulate matter 2.5 microns (PM2.5). This data is slightly mislabelled, and might confuse users.

### Current behaviour

The column with this data is labelled 'pm25'

### Desired behaviour

The column should be labelled 'pm2.5'

### Screenshots
<img width="167" alt="Screenshot 2022-04-20 at 4 19 06 PM" src="https://user-images.githubusercon

[2022-04-20 08:29] Milind220 opened #116 "When historical data output is saved as CSV file, the dates column is missing entirely, making the data hard to use"
Here's what the saved file looks like right now:

<img width="582" alt="Screenshot 2022-04-20 at 4 27 21 PM" src="https://user-images.githubusercontent.com/68847270/164185363-2fbee016-bcec-491e-8b9d-0dce1b4dfda0.png">

And the raw CSV file:

<img width="328" alt="Screenshot 2022-04-20 at 4 27 33 PM" src="https://user-images.githubusercontent.com/68847270/164185460-220b7d8f-7d33-48f5-9a27-9a1185ccb

[2022-04-20 08:36] Milind220 opened #117 "Bug: No way to set custom name for file, if saving data as CSV, Excel or JSON file. Also inconsistency in naming."
## Current behaviour

All saved files of the same type have the exact same name. This means that if I try to save multiple CSV files, they just overwrite the previous ones. For example:

* CSV files are named 'air_quality.csv'
* Excel files are named  'air_quality_data.csv'
* Excel files are named  'air_quality_data.json'

## Desired behaviour

* Users should have the option to custom name their f

[2022-04-20 08:41] Milind220 opened #118 "Ozon3 package description should be updated in setup.cfg and setup.py"
## Current Description

## Desired Description

### How to do:
Replace the current sentence with the new sentence in the following places.
* line 6 in setup.cfg
* line 9 in setup.py

[2022-04-20 09:02] Milind220 opened #119 "Ozone doesn't import, 'ModuleNotFoundError: No module named 'ozone.historical''"
Here is the complete error message when I try to import Ozone while using it as a user would.

#### Jupyter Notebook

<img width="1112" alt="Screenshot 2022-04-20 at 4 58 17 PM" src="https://user-images.githubusercontent.com/68847270/164191611-fa5df29a-c2cb-4a68-be73-966ed82d8e34.png">

#### Python file

<img width="790" alt="Screenshot 2022-04-20 at 4 58 00 PM" src="https://user-images.githubuser

[2022-04-20 12:15] isi1000 commented on #119
I'm having this issue, how can I fix it?

[2022-04-20 16:41] Milind220 commented on #119
@isi1000 Hey! Still trying to figure out what exactly is going wrong with that import, but we'll have it fixed soon!

If you simply want to use the rest of Ozone's features (non historical data features), you can try using Ozone v1.5.5:
1. `pip uninstall ozon3`
2. `pip install ozon3==1.5.5`

[2022-04-20 16:57] Milind220 commented on #119
@lahdjirayhan I think I've managed to solve this quite simply. The error appeared to be indicating that it couldn't find the module. By adding an __init__.py  in the historical directory, it turns it into a local package, and the error goes away. I'll confirm this with a testPyPI package upload to check if it has actually worked.

[2022-04-20 19:04] lahdjirayhan commented on #119
I didn't see that coming.

---

As for giving `__init__.py`, Maybe you're on the right track. The Python module/package distinction confuses me, maybe that's what got me before.

---

The last image you sent indicates that `relevant_funcs.js` (where the relevant part of JS script lives) isn't present in the Ozone installation. My un-educated guess: this JS file is not packaged and/or installed/cop

[2022-04-20 19:36] lahdjirayhan commented on #116
We currently store the date information in the DataFrame's index (technically not a column). Maybe we shouldn't? Should we move the date information onto a column instead of the index? @Milind220

This index is also likely the cause of #114.

[2022-04-20 20:55] isi1000 commented on #119
@lahdjirayhan @Milind220
It is true that all the historical folder doesn't, download when you use pip, but I added it manually and there is another problem with _reverse_engineering.py and relevant_funcs.js.
![image](https://user-images.githubusercontent.com/79423137/164321056-2f2bc99c-e555-4734-8200-9ee6856b015e.png)

[2022-04-20 21:57] ShootGan commented on #117
I can try to work on that. Can you assign me?

[2022-04-20 23:46] lahdjirayhan commented on #117
@ShootGan Of course! See [this section on CONTRIBUTING](https://github.com/Milind220/Ozone/blob/main/CONTRIBUTING.md#get-an-issue-assigned-to-you) about how to make an issue get assigned to you automatically!

[2022-04-21 03:32] Milind220 commented on #119
Yeah I'll check it out too, though that would make sense!

Hahaha this would work, and that's the main thing. We can go with this.

Great! I'll take a look now too :)

[2022-04-21 03:37] Milind220 commented on #119
@isi1000 Great, seems to confirm what @lahdjirayhan was thinking too!

[2022-04-21 03:47] Milind220 commented on #119
I could either fix this myself

OR 👀

@isi1000 Would you like to try fixing this and contributing to Ozone? This is a pretty simple little fix by the looks of it. No worries if you don't want to, of course :)

[2022-04-21 12:41] lahdjirayhan commented on #119
Awesome, everyone!

---

I really don't know with regards to init. But judging from the initial error you found: `ModuleNotFoundError: No module named 'ozone.historical'`, it's best to include the init file. Just in case. @Milind220

[2022-04-21 12:48] Milind220 commented on #119
I'd like to get this fixed asap, so someone _hold my beer, I got this_

[2022-04-21 12:49] Milind220 commented on #119
Hold my beer, I got this

[2022-04-21 18:04] Milind220 commented on #119
Fixed this with 0e289df

[2022-04-21 19:06] ShootGan commented on #117
Hold my beer, I got this

[2022-04-21 19:45] lahdjirayhan commented on #119
I can confirm that the new hotfix solves this issue on my machine.

[2022-04-22 01:50] Milind220 commented on #119
That's great!

You may notice that the commits in the hotfix didn't pass the pre-commit/pre merge lints. The relevant_funcs.py file kept failing flake8 formatting criteria (lines were 'too long'), and black didn't seem to reformat it at all. At that point I just committed with --no-verify to avoid triggering the pre commit hooks.

[2022-04-22 01:50] #119 closed

[2022-04-22 02:05] Milind220 opened #121 "Update and reformat FILE_STRUCTURE.md to include explanations of new files"
FILE_STRUCTURE.md is supposed to explain to new contributors the overall structure of Ozone. This is so that they feel more comfortable moving from file to file to make their contributions.

Currently, it's been a little while since FILE_STRUCTURE was updated. I'm also not too impressed with the current organisation of the file.

Here's the Issue:
* Add description of historical directory and the

[2022-04-22 02:33] lahdjirayhan commented on #119
I would say it's safe to just add `# flake8: noqa` to the top of the file. Being just a really long string.

[2022-04-22 02:41] Milind220 commented on #119
Excellent, I'll add that in

[2022-04-22 08:45] Milind220 commented on #116
@lahdjirayhan I took a look at other air quality datasets, and they mostly do store date information in a column. I think it's a nice simple solution to fix this and #114 (if it is in fact the cause for that)

[2022-04-22 16:06] #8 closed

[2022-04-22 16:42] Milind220 commented on #8
@lahdjirayhan Tried the tests! they work perfectly :) Can you confirm that you also get this output?

![Uploading Screenshot 2022-04-23 at 12.32.47 AM.png…]()

[2022-04-22 16:57] lahdjirayhan commented on #8
@Milind220 Yes. This is my output:
[code]

We can incrementally work towards making all the tests pass.

[2022-04-22 17:18] lahdjirayhan opened #123 "Bug: `get_range_coordinates_air` says it can't parse the returned data"
# Current behavior

[code]
The above code block raises an Exception as follows:
[code]

# Expected behavior

It should parse normally because the returned data looks fine as it is.

# Version information

Python 3.8.5, Ozone v1.7.1

[2022-04-22 17:18] lahdjirayhan commented on #123
Hold my beer, I got this

[2022-04-23 01:53] #123 closed

[2022-04-23 12:21] Milind220 commented on #107
I'm going to make these changes directly in the gh-pages branch. In methods section:

- [ ] get_historical_data
- [ ] get_city_station_options
- [ ] get_city_forecast

[2022-04-23 19:45] ShootGan commented on #117
On commit i get error `ImportError: cannot import name '_unicodefun' from 'click' (C:\Users\p_nal\.cache\pre-commit\repo99_g8q2e\py_env-python3.8\
lib\site-packages\click\__init__.py)
`

[2022-04-24 04:02] Milind220 commented on #117
@ShootGan hey! This is an issue with the pre commit hooks (the thing that checks if your commit follows our style guide or not). This is caused by a slightly outdated version of Black, but has been fixed since in the dev branch.

I'm assuming you've already setup your development environment according to the guidelines in the contributing.md file.
To get the latest updates, you need to pull from t

[2022-04-24 16:57] Milind220 opened #130 "Continuous Testing. Integrate Ozone's test suite with a continuous testing feature to indicate if build is passing or not"
## Current situation
Ozone now has a test suite. The tests can be manually run by running pytest in the root directory of Ozone.

## Desired situation
Ozone should have a continuous testing feature, and a badge/shield to go with it in the README. This way, with a single glance, we can tell that Ozone's working perfectly and without errors.

[2022-04-24 17:48] ShootGan commented on #130
maybe you can also use codecov.io to show test coverage

[2022-04-25 02:54] lahdjirayhan commented on #130
Note: with #132 and #133 I think the tests should pass. I've tested the two branches separately on my device -- and I think, combined they shall pass all tests (I'm not 100% sure). You may want to check locally to confirm this after they got merged later @Milind220.

[2022-04-25 09:38] Milind220 commented on #130
@lahdjirayhan OH awesome! that's excellent :) I'll check them out soon!

[2022-04-25 19:33] lahdjirayhan commented on #130
@Milind220 Yeah I've got them too. They fail not because of the tests, but because a request in the test is not found in the test's corresponding cassette file. By default, pytest-recording uses `--record-mode=none`, i.e. prevent any new requests not found in the cassette to be made.

Solution is simple: run the following commands in your device:
[code]

[code]

[code]

Running the first command g

[2022-04-25 19:38] lahdjirayhan commented on #130
Unrelated to the issue but maybe later we need to rethink how to design the tests so that fixing to pass a failing test won't require re-recording a vcrpy cassette (because it's a hassle and frankly not intuitive for starters). Re-recording a cassette also shouldn't happen too often.

[2022-04-29 10:08] Milind220 commented on #130
@lahdjirayhan I'm not too well versed with this actually, so I'll do some research too!

[2022-04-29 10:30] Milind220 opened #134 "Ozone tests inconsistency - pytest --disable-recording not fixing cassette recording issues"
**Description**
The tests show me that two tests are failing. When I tried @lahdjirayhan 's suggestion of running the following:
`pytest tests/test_get_city_forecast.py tests/test_get_coordinate_air.py --disable-recording`
Then 16/17 tests failed for really strange reasons.

Screenshots of the tests failing are attached below.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new cond

[2022-04-29 10:52] Milind220 commented on #115
Also, I think this would technically quality as a breaking change. It would be backwards incompatible, as if anyone has code designed to work with the column label 'pm25' their code wouldn't work with the new column name of 'pm2.5'.

[2022-04-29 12:39] lahdjirayhan commented on #134
Oh no, I forgot to add information about how to supply your own token 🤦🏼 , because eventually if we use `--disable-recording`, we're doing live requests (which will need our AQI token). I think I'll do some writeups right now to inform everyone (including myself) in the future about this; rather than writing the solution in this issue.

Hold my beer, I got this.

What we roughly need is as follows

[2022-04-29 22:56] lahdjirayhan commented on #134
For future visitors to this thread:

If you get `vcr.errors.CannotOverwriteExistingCassetteException` when running `pytest`, you probably need to use live connection (disable cassette recording) and see if the test passes. That exception is raised when the cassette file is not complete (there is a request in the test function that's not recorded in the cassette file).

If you get `Exception: Your

[2022-04-30 03:40] #134 closed

[2022-04-30 03:50] lahdjirayhan commented on #134
@Milind220 I just want to confirm, have you checked that the information provided in the PR is sufficient to solve the problem posed in this issue?

[2022-04-30 03:52] Milind220 commented on #134
@lahdjirayhan Yes, fixed it perfectly! The token was all that was needed, and that makes sense haha

[2022-05-01 05:21] #116 closed

[2022-05-01 05:22] #114 closed

[2022-05-01 16:54] Milind220 opened #138 "Re-record cassettes for tests to allow all tests to pass"
Due to the recent changes in tests and code (to make Ozone pass the tests), a few cassettes need re-recording, and the updates cassettes should be committed.

This should be done in time for version 2.0.0

[2022-05-03 09:46] Milind220 commented on #115
hold my beer, I got this

[2022-05-03 12:08] Milind220 opened #140 "[Breaking Change] params argument lets you enter gibberish and still returns data"
**Describe the bug**
With the params argument, If you enter correct parameters, it returns valid data. However, if you enter gibberish as a parameter, it returns data with an empty column for that 'parameter'. For example:
[code]
would return a dataframe with an empty column called 'sldkfjsfljsfsf'.

**To Reproduce**
Steps to reproduce the behavior:
1. Use any method which allows you to pass in cu

[2022-05-03 12:16] #115 closed

[2022-05-03 17:01] Milind220 commented on #138
Closed by commit 5e10170139cfea59ebe12e4ec7038d3988832bf6

[2022-05-03 17:01] #138 closed

[2022-05-03 17:09] #121 closed

[2022-05-03 17:10] #117 closed

[2022-05-05 03:15] Milind220 opened #147 "Outdated gifs in README need to be replaced"
The gifs in the README under the 'examples in action' heading need to be replaced by newer ones.

The first two gifs do not show any output data. They should be replaced by gifs that show the method as well as the output data.

The third gif's output data is a little outdated at this point. The date information is no longer in the index but in a column, and the pm25 column label has been changed t

[2022-05-05 03:23] Milind220 opened #148 "Sample output screenshot in README needs to be replaced by new image"
In the README, under the heading 'sample output' there's a screenshot of the output from one of Ozone's methods.

This image was taken before version 2.0.0, and one of the bugs fixed in v2.0.0 still shows in it. The 'pm25' label across Ozone has now been corrected and changed to 'pm2.5'.

1) Run the following code in a Jupyter Notebook:
[code]
2) Add the screenshot to the /src/media directory and

[2022-05-05 22:13] Miller2014 commented on #148
Hold my beer, I got this

[2022-05-06 21:16] Miller2014 commented on #130
Do you still want to implement continuous testing/CI as this post suggests.  This is new to me with Github, but I was having a read around Github actions which seems to be a good feature to implement CI/CD, have you considered this?

[2022-05-08 04:50] Milind220 commented on #130
Yes, continuous testing is still a priority for Ozone. I've never implemented it before though, so I'm not sure what the best way to proceed is. I did notice that GitHub Actions seems to have some options for this.

If you'd like to give it a try, that'd be really awesome! Even just some research into this would be super helpful!

[2022-05-08 04:51] #148 closed

[2022-05-09 10:12] lahdjirayhan opened #151 "[BUG] Filename warning is inappropriate"
**Describe the bug**
The warning emitted when not giving custom file name is inappropriate/misleading.

- Not giving a filename emits a warning, which is fair/correct.
- Giving a filename makes the warning go away, but if the same Ozone object is reused to get AQI data *again*, the output file remains the same and is overwritten all the same.

**To Reproduce**
1. Just instantiate an Ozone object a

[2022-05-09 10:14] lahdjirayhan commented on #151
## File output feature

Ozone provides a way to automatically save the returned data into a file (csv, xlsx, json). There is a room for improvement here.

The user obviously needs to supply a location for the file output, but it's very not intuitive and clunky to do so. They have to:

1. Specify a path. The file will not be saved in that location, but instead in a subfolder `ozone_output` located/

[2022-05-09 19:11] ShootGan commented on #130
I think GitHub actions and something like codecov.io for showing test coverage and badge in readme will be a good option. This pipeline should be complicated but I'm not sure how cassette works.
Also, the question is if we want to have pylint in the pipeline if it is implemented in pre-commit action.

[2022-05-11 15:58] lahdjirayhan commented on #140
Note to future readers:

This behavior is documented in tests, for example this one.

https://github.com/Milind220/Ozone/blob/ba281f5381cfa0a0c8750715d2486457111ff665/tests/test_get_city_air.py#L68-L74

If this behavior needs to change, then the corresponding tests need to also be changed accordingly.

[2022-05-13 01:49] Milind220 commented on #140
@lahdjirayhan Ahhh I do remember reading that. Never quite made the connection that it would also mean that random incorrect parameters would still be a part of the response.

Hmm I do think that it's a good idea to warn users about this. I think the most common situation that this would happen in is if the user has a typo in their code (ex 'pm2.6' instead of 'pm2.5'). Might confuse someone.

[2022-05-13 01:53] Milind220 commented on #130
@ShootGan codecov + GitHub Actions sounds perfect.
If you want to learn this is the ideal place to give it a shot - we can help figure out any issues you face, and patch any mistakes that might be made in future PRs.

I don't think we need pylint in the continuous testing pipeline. Just the tests should be plenty.

[2022-05-13 01:54] Milind220 commented on #151
@lahdjirayhan

I think option one is best. Let's open a separate issue to address the changes that you mentioned there.

[2022-05-13 02:05] Milind220 opened #153 "## File output feature"
## File output feature

Ozone provides a way to automatically save the returned data into a file (csv, xlsx, json). There is a room for improvement here.

The user obviously needs to supply a location for the file output, but it's very not intuitive and clunky to do so. They have to:

1. Specify a path. The file will not be saved in that location, but instead in a subfolder `ozone_output` located/

[2022-05-13 02:07] Milind220 opened #154 "[Breaking change]: Remove save data to file functionality"
### Describe the change
Ozone offers some functionality to save data to CSV, Excel, or JSON files. However, this has introduced some messy code, a bug, and some very unintuitive ways of setting a save file name.

More importantly, we've realised that offering the functionality to save to a file Is unnecessary. A user could, with a single Pandas method (eg: dataframe.to_csv), save their data to a f

[2022-05-13 12:30] Milind220 opened #155 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expectedb[[]()]() behavior**
A clear description of what you expected to[]()[]() happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment**
 - OS: [e.g. MacO

[2022-05-13 16:34] lahdjirayhan commented on #155
@Milind220 ???

[2022-05-13 17:38] Milind220 commented on #155
@lahdjirayhan Sorry I think I must've somehow opened this by mistake. Deleting now.

[2022-05-16 08:11] Milind220 commented on #154
hold my beer, I got this

[2022-05-18 09:13] lahdjirayhan commented on #130
Is anyone working on this? @ShootGan @Miller2014 @Milind220

[2022-05-18 12:45] ShootGan commented on #130
Hi, sorry right now i don't have enough time to do this but I can send a similar pipeline yaml.

[2022-05-20 12:20] lahdjirayhan commented on #140
@Milind220 Welp I was thinking it was intended so I accommodated it in tests.

I'll work on this issue.

Hold my beer, I got this

[2022-05-20 12:58] lahdjirayhan commented on #140
Now that I'm working on it I realized something. WAQI never returns specific subset of parameters; it always returns full set of parameters. On every request, Ozone downloads full set of air quality parameters (that are available at the requested AQI station). So, why bother giving the `params` argument? Why not just return everything to the user and let them subset it themselves?

However, I may

[2022-05-20 15:25] Miller2014 commented on #118
Hold my beer, I got this

[2022-05-21 07:07] lahdjirayhan commented on #147
Hold my beer, I got this

[2022-05-23 01:12] #147 closed

[2022-05-23 02:01] Milind220 commented on #130
@ShootGan No worries! We'll always have more issues to work on hahaha. Thanks for your help :)

[2022-05-23 02:01] #130 closed

[2022-05-23 02:05] Milind220 commented on #140
@lahdjirayhan Let's get rid of this in time for version 3.0 then :)

[2022-05-23 02:06] #151 closed

[2022-05-25 03:33] #154 closed

[2022-05-25 03:33] #140 closed

[2022-05-25 03:35] Milind220 commented on #107
I've been thinking about documentation for Ozone, and I think perhaps GitHub pages wasn't the best choice for this. It requires too much baby-sitting to update for each method. I'm going to look into some automatic documentation generators, that could use our method docstrings to generate documentation.

[2022-05-25 03:35] #107 closed

[2022-05-28 21:02] Miller2014 commented on #130
Sorry for the lack of response on this, glad to see you implemented this, great job!. I will keep an eye out for any new issues.

[2022-06-06 01:50] Milind220 opened #163 "Feature Testing and Bug Hunting!"
Hey everyone! Ozon3 feels quite stable for the moment, but I'm sure there are bugs and improvements waiting to be discovered!

I'd love for people eager to contribute to try using Ozon3 and see if you can spot anything that doesn't function the way it should, or could be better.

Reply to this thread with a screenshot of you using Ozon3 if you have! maybe we can add an assistant contributor sectio

[2022-07-12 15:21] Milind220 opened #166 "[BREAKING CHANGE] Complete conversion from ozone to ozon3"
**Conversion of all mentions of ozone to ozon3**

Changing the name of the package to ozon3 entirely will help reduce confusion and inconsistency. As of now the package is called Ozone but is also called ozon3 on PyPI.

* Change every mention of ozone to ozon3

Check the following places:
* Source code files
* Documentation files (.md files in the repository)

[2022-07-12 17:50] iamnandhu commented on #166
Hold my beer, I got this

[2022-07-25 10:05] #166 closed

[2022-07-26 01:39] Milind220 opened #169 "Add str type cast for WAQI token in utils.py"
**Describe the bug**
Ozon3 development uses MyPy and Pylance for type checking. As a result of this, a type inconsistency has shown up in *line 39* of the `utils.py` file in the `tests` directory:

This is telling us that the `WAQI_TOKEN` variable has a non-string type, but needs to be a string for this to be entirely compatible. This is a warning, and not an error, but should still be fixed.

**T

[2022-07-26 01:45] #163 closed

[2022-08-30 21:37] Miller2014 commented on #169
Hold my beer, I got this

[2022-09-02 21:31] Miller2014 commented on #169
Hi @Milind220, I was looking at this issue and trying to assess if casting may mask a potential issue. I am trying to understand what is going on in the following line to determine the actual type.

WAQI_TOKEN = config("WAQI_TOKEN", default="DUMMY_TOKEN")

As far as I can tell config is of AutoConfig type, so is this call the constructor from the AutoConfig Class?